.env
.env.local

venv/
.venv

.env
.env.local

data/
*.log
logs/

utils/

config/

test_log.py

Dokerfile
.dockerignore

.vscode/

exchange/binance/config.py

__pycache__/

tests/test_config.py
tests/
.pytest_cache