.env
.env.local

venv/
.venv

.env
.env.local

data/
*.log
logs/

config/

test_log.py

Dockerfile
.dockerignore

.vscode/
.idea/

exchange/binance/config.py

__pycache__/

tests/logs/
!tests/logs/.gitkeep
.pytest_cache/